appdirs==1.4.4
BeautifulReport==0.1.3
certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
importlib-metadata==4.11.2
jsonpath==0.82
mock==4.0.3
mysql-connector==2.2.9
pyee==8.2.2
PyMySQL==1.0.2
pyppeteer==1.0.2
requests==2.27.1
tqdm==4.63.0
urllib3==1.26.8
websockets==10.2
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
zipp==3.7.0
